/*jieyao-全局样式*/
.float-right{float:right;}
.float-left{float:left;}
.ant-layout .ant-layout-header,.ant-layout .ant-layout-content,.ant-layout .ant-layout-footer{background:#ffffff;}
.ant-layout .ant-layout-header{padding:0;}
.ant-layout ul,.ant-layout li,.ant-layout ol{list-style: none; margin: 0; padding: 0;}
