//
   Created by jieyao on 2017/6/22.
html
    head
        title 哈哈
    body
        .news
            ul
                li 我是新闻我是新闻
                li 我是新闻我是新闻
                li 我是新闻我是新闻
                li 我是新闻我是新闻


